<!--/.col-->

<div class="row">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add a user</strong>
                    <!--<small>Form</small>-->
                </div>
                <div class="card-block row">
                   
                    <div class="form-group col-sm-6">
                        <label class="form-control-label" for="firstname"><b>First Name</b></label>
                        <input type="text" class="form-control" id="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="form-control-label" for="lastname"><b>Last Name</b></label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="form-control-label" for="username"><b>User Name</b></label>
                        <input type="text" class="form-control" id="username" placeholder="Enter User Name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="form-control-label" for="email"><b>Email</b></label>
                          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email..">
                                <span class="help-block">Please enter your email</span>
                     </div>
                    <div class="form-group col-sm-6">
                            <label for="city"><b>City</b></label>
                           <select id="city" name="select" class="form-control input-lg" size="1">
                                    <option value="0">Please select</option>
                                    <option value="1">Option #1</option>
                                    <option value="2">Option #2</option>
                                    <option value="3">Option #3</option>
                                </select>
                        </div>
                        <div class="form-group col-sm-6">
                        <label for="country"><b>Country</b></label>
                       <select id="country" name="select" class="form-control input-lg" size="1">
                                    <option value="0">Please select</option>
                                    <option value="1">Option #1</option>
                                    <option value="2">Option #2</option>
                                    <option value="3">Option #3</option>
                                </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="form-group" id="datepicker">
                                    <label><b>Birthday</b></label>
                                    <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" placeholder="" class="form-control" value="">
                                    </div>
                                  </div>
                                   </div>
                            <div class="form-group col-sm-6">
                        <label class="form-control-label" for="website"><b>Website</b></label>
                        <input type="text" class="form-control" id="website" placeholder="Enter Website">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="form-control-label" for="phone"><b>Phone</b></label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="role"><b>Role</b></label>
                       <select id="role" name="select" class="form-control input-lg" size="1">
                                    <option value="0">Please select</option>
                                    <option value="1">Option #1</option>
                                    <option value="2">Option #2</option>
                                    <option value="3">Option #3</option>
                                </select>
                    </div>
                   
                </div>
                 <div class="card-footer">
                     <div class="pull-right">
                    <button class="btn btn-sm btn-primary " type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger " type="reset"><i class="fa fa-ban"></i> Cancel</button>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--/.col-->