
<div class="animated fadeIn">
    <div class="col-md-2 pull-right">
    <button class="btn btn-primary btn-sm" type="button">Add a new user</button></div>
    <div class="col-md-12">
        <div style="margin: auto; max-width: 1000px; margin-top:50px">
           <data-table id="films-grid" headerTitle="All Users"  [items]="films" [itemCount]="filmCount" (reload)="reloadFilms($event)" 
                [sortBy]="'roles'" [sortAsc]="false" [selectColumn]="true" [multiSelect]="false" [substituteRows]="false" [expandableRows]="true"
                [translations]="translations"  [selectOnRowClick]="true">
                <template #dataTableExpand let-item="item">
                    <div [textContent]="item.Country" style="padding: 5px; color: gray"></div>
                     <div [textContent]="item.tfollows" style="padding: 5px; color: gray"></div>
                     <div [textContent]="item.tshares" style="padding: 5px; color: gray"></div>
                     <div [textContent]="item.tfavorites" style="padding: 5px; color: gray"></div>
                     <div [textContent]="item.tcomments" style="padding: 5px; color: gray"></div>
                          </template>
                <data-table-column [property]="'uname'" [header]="'User Name'" [sortable]="true"  [sortable]="true" [cellColors]="cellColor">
                </data-table-column>
                <data-table-column [property]="'email'" [header]="'Email'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'role'" [header]="'Role'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'actions'" [header]="'Action'">
                  
                </data-table-column>
                </data-table>
                
        </div>
    </div>
</div>