<div class="col-md-12">
                
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i><strong> All Contests Prizes</strong>
                    <span class="badge  pull-right"><a href="#">Create Prizes</a></span>
                </div>
               
                <div class="card-block">
                    <div class="col-md-12 mb-10">
                                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                </div>
                    <table class="table table-hover">
                        <!--<thead>
                            <tr>
                                <th>#</th>
                                 <th>Icon</th>
                                <th>Name</th>
                                <th>Sports	</th>
                                <th>Action	</th>
                            </tr>
                        </thead>-->
                        <tbody>
                            <tr>
                                <td><span class="badge badge-success">Active</span></td>
                                <td><strong><a href=""> Daily Contest</a></strong></td>
                                <td><strong>Max Prize:</strong> $ 50000	</td>
                                <td><strong>Min Prize:</strong> $ 20000	</td>
                                 <td><strong>Total Prize:</strong> $ 20000	</td>
                                <td>
                                    <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i>edit</a></span><span class="badge"><a href="#"><i class="fa fa-folder"></i>View</a></span>
                                </td>
                            </tr>
                            <tr>
                               <td><span class="badge badge-default">Inactive</span></td>
                                <td><strong><a href="">Weekly Contest</a></strong></td>
                                <td><strong>Max Prize:</strong> $ 50000	</td>
                                <td><strong>Min Prize:</strong> $ 20000	</td>
                                 <td><strong>Total Prize:</strong> $ 20000	</td>
                                <td>
                                    <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i>edit</a></span><span class="badge"><a href="#"><i class="fa fa-folder"></i>View</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="badge badge-default">Inactive</span></td>
                                <td><strong> <a href="">	Monthly Contest</a></strong></td>
                                <td><strong>Max Prize:</strong> $ 50000	</td>
                                <td><strong>Min Prize:</strong> $ 20000	</td>
                                 <td><strong>Total Prize:</strong> $ 20000	</td>
                                <td>
                                    <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i>edit</a></span><span class="badge"><a href="#"><i class="fa fa-folder"></i>View</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="badge badge-success">Active</span></td>
                                <td><strong><a href=""> Yearly Contest</a></strong></td>
                                <td><strong>Max Prize:</strong> $ 50000	</td>
                                <td><strong>Min Prize:</strong> $ 20000	</td>
                                 <td><strong>Total Prize:</strong> $ 20000	</td>
                                <td>
                                    <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i>edit</a></span><span class="badge"><a href="#"><i class="fa fa-folder"></i>View</a></span>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                   
                </div>
            </div>
        <!--/.col-->
            </div>