<div class="animated fadeIn">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                Weekly Contest Settings
            </div>
            <div class="card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
                  <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Time Period</label>
                               <select class="form-control">
                          <option value="17">Sunday - Saturday</option>
                          <option value="21">Monday - Sunday</option>
                          <option value="32">Tuesday - Monday</option>
                          <option value="43">Wednesday - Tuesday</option>
                          <option value="54">Thursady - Wednesday</option>
                          <option value="65">Friday - Thursday</option>
                          <option value="71">Saturday - Friday</option>
                        </select>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Time Zone</label>
                               <select class="form-control m-b">
                        <option value="UTC">Universal Coordinated Time (GMT)</option>
                        <option value="ECT">European Central Time	(GMT+1:00)</option>
                        <option value="EET">Eastern European Time	(GMT+2:00)</option>
                        <option value="EST">(Arabic) Egypt Standard Time(GMT+2:00)</option>
                        <option value="EAT">Eastern African Time(GMT+3:00)</option>
                        <option value="MET">Middle East Time(GMT+3:30)</option>
                        <option value="NET"> Near East Time(GMT+4:00)</option>
                        <option value="PLT">Pakistan Lahore Time(GMT+5:00)</option>
                        <option value="IST">India Standard Time(GMT+5:30)</option>
                        <option value="BST"> Bangladesh Standard Time(GMT+6:00)</option>
                        <option value="VST"> Vietnam Standard Time(GMT+7:00)</option>
                        <option value="CTT"> China Taiwan Time(GMT+8:00)</option>
                        <option value="JST"> Japan Standard Time(GMT+9:00)</option>
                        <option value="ACT">Australia Central Time(GMT+9:30)</option>
                        <option value="AET"> Australia Eastern Time(GMT+10:00)</option>
                        <option value="SST"> Solomon Standard Time(GMT+11:00)</option>
                        <option value="NST"> New Zealand Standard Time(GMT+12:00)</option>
                        <option value="MIT"> Midway Islands Time(GMT-11:00)</option>
                        <option value="HST"> Hawaii Standard Time(GMT-10:00)</option>
                        <option value="AST"> Alaska Standard Time(GMT-9:00)</option>
                        <option value="PST"> Pacific Standard Time(GMT-8:00)</option>
                        <option value="PNT"> Phoenix Standard Time(GMT-7:00)</option>
                        <option value="MST"> Mountain Standard Time(GMT-7:00)</option>
                        <option value="CST">Central Standard Time(GMT-6:00)</option>
                        <option value="EST">Eastern Standard Time(GMT-5:00)</option>
                        <option value="IET"> Indiana Eastern Standard Time(GMT-5:00)</option>
                        <option value="PRT"> Puerto Rico and US Virgin Islands Time(GMT-4:00)</option>
                        <option value="CNT"> Canada Newfoundland Time(GMT-3:30)</option>
                        <option value="AGT"> Argentina Standard Time(GMT-3:00)</option>
                        <option value="BET"> Brazil Eastern Time(GMT-3:00)</option>
                        <option value="CAT"> Central African Time(GMT-1:00)</option>
                      </select>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="numberofwinners">Winners For every Week</label>
                                <input class="form-control" id="numberofwinners" placeholder="Enter Number" type="text">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>