<div class="row"> 
  <div class="col-sm-8">
   <h2>All Winners</h2>
    <p> All Winners Details will be shown here. </p>
    <div class="input-group">
      <input type="text" placeholder="Search" class="input form-control">
      <span class="input-group-btn">
                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                </span> </div>
    <div class="clients-list">
      <ul class="nav nav-tabs">
        <span class="pull-right small text-muted">1406 Winners</span>
        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Contacts</a></li>
      </ul>
      <div class="tab-content">

        <div id="tab-1" class="tab-pane active">
          <div (click)="$event.preventDefault()">
          <div class="full-height-scroll">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <td class="client-avatar"><img alt="image" src="img/a2.jpg"></td>
                    <td><a data-toggle="tab" href="#contact-1" class="client-link" >Anthony Jackson</a></td>
                    <td>India</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> gravida@rbisit.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+919848022338</td>
                  </tr>
                  <tr>
                    <td class="client-avatar"><img alt="image" src="img/a3.jpg"></td>
                    <td><a data-toggle="tab" href="#contact-2" class="client-link">Rooney Lindsay</a></td>
                    <td>USA</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> rooney@proin.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+10 23456987</td>
                  </tr>
                  <tr>
                    <td class="client-avatar"><img alt="image" src="img/a4.jpg"></td>
                    <td><a data-toggle="tab" href="#contact-3" class="client-link">Lionel Mcmillan</a></td>
                    <td>Germany</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td>lionelmc@xion.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+24 12345678</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a5.jpg"></a>
                    </td>
                    <td><a data-toggle="tab" href="#contact-4" class="client-link">Edan Randall</a></td>
                    <td>Srilanka</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td>edanran@exch.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+90 123789456</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a6.jpg"></a>
                    </td>
                    <td><a data-toggle="tab" href="#contact-2" class="client-link">Jasper Carson</a></td>
                    <td>France</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td>jascar@gmail.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+400 468 921</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a7.jpg"></a>
                    </td>
                    <td><a data-toggle="tab" href="#contact-3" class="client-link">Reuben Pacheco</a></td>
                    <td>Mangolia</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> pacheco@manga.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+12 753159864</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a1.jpg"></a>
                    </td>
                    <td><a data-toggle="tab" href="#contact-1" class="client-link">Simon Carson</a></td>
                    <td>Germany</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> Simon@erta.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+45 123741856</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a3.jpg"></a>
                    </td>
                    <td><a data-toggle="tab" href="#contact-2" class="client-link">Rooney Patrick</a></td>
                    <td>HongKong</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> rooney@proin.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+09 9514563578</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a4.jpg"></a>
                    </td>
                    <td><a (click)="tabs[1].active = true" class="client-link">Baba Mcmillan</a></td>
                    <td>Dubai</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td>baba.mc@gmail.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+432 955 908</td>
                  </tr>
                  <tr>
                    <td class="client-avatar">
                      <a href=""><img alt="image" src="img/a5.jpg"></a>
                    </td>
                    <td><a (click)="tabs[0].active = true" class="client-link">Edan Randall</a></td>
                    <td>India</td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td>edan.ran@live.com</td>
                    <td class="contact-type"><i class="fa fa-phone"> </i></td>
                    <td>+422 600 213</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-4">

    <div class="tab-content">
      <div id="contact-1" class="tab-pane active">
        <div class="row m-b-lg">
          <div class="col-lg-4 text-center">
            <h2>Anthony Jackson</h2>
            <div class="m-b-sm"> <img alt="image" class="img-circle" src="img/a2.jpg" style="width: 62px"> </div>
          </div>
          <div class="col-lg-8"> <strong> About me </strong>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. </p>
            <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fa fa-envelope"></i> Send Message </button>
          </div>
        </div>
        <div class="client-detail">
          <div class="full-height-scroll"> <strong>Notes</strong>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. </p>
            <hr/>
            <strong>Winning History</strong>
            <div id="vertical-timeline" class="vertical-container dark-timeline">
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-trophy "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Monthly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> April - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Kids in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 25 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">sprinters in Gym</a>. </p>
                  <span class="vertical-date small text-muted"> Week 49 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Team in Golf Club</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-briefcase"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Yearly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted">2014 </span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact-2" class="tab-pane">
        <div class="row m-b-lg">
          <div class="col-lg-4 text-center">
            <h2>Rooney Lindsay</h2>
            <div class="m-b-sm"> <img alt="image" class="img-circle" src="img/a3.jpg" style="width: 62px"> </div>
          </div>
          <div class="col-lg-8"> <strong> About me </strong>
            <p> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default tempor incididunt
              model text. </p>
            <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fa fa-envelope"></i> Send Message </button>
          </div>
        </div>
        <div class="client-detail">
          <div class="full-height-scroll"> <strong>Notes</strong>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
              some form, by injected humour, or randomised words. </p>
            <hr/>
            <strong>Winning History</strong>
            <div id="vertical-timeline" class="vertical-container dark-timeline">
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-trophy "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Monthly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> April - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Kids in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 25 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">sprinters in Gym</a>. </p>
                  <span class="vertical-date small text-muted"> Week 49 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Team in Golf Club</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-briefcase"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Yearly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted">2014 </span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact-3" class="tab-pane">
        <div class="row m-b-lg">
          <div class="col-lg-4 text-center">
            <h2>Lionel Mcmillan</h2>
            <div class="m-b-sm"> <img alt="image" class="img-circle" src="img/a4.jpg" style="width: 62px"> </div>
          </div>
          <div class="col-lg-8"> <strong> About me </strong>
            <p> Latin professor at Hampden-Sydney College in Virginia, looked embarrassing hidden in the middle. </p>
            <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fa fa-envelope"></i> Send Message </button>
          </div>
        </div>
        <div class="client-detail">
          <div class="full-height-scroll">
            <hr/>
            <strong>Winning History</strong>
            <div id="vertical-timeline" class="vertical-container dark-timeline">
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-trophy "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Monthly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> April - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Kids in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 25 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">sprinters in Gym</a>. </p>
                  <span class="vertical-date small text-muted"> Week 49 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Team in Golf Club</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-briefcase"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Yearly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted">2014 </span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact-4" class="tab-pane">
        <div class="row m-b-lg">
          <div class="col-lg-4 text-center">
            <h2>Reuben Pacheco</h2>
            <div class="m-b-sm"> <img alt="image" class="img-circle" src="img/a5.jpg" style="width: 62px"> </div>
          </div>
          <div class="col-lg-8"> <strong> About me </strong>
            <p> Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,written in 45 BC. This book is a treatise
              on. </p>
            <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fa fa-envelope"></i> Send Message </button>
          </div>
        </div>
        <div class="client-detail">
          <div class="full-height-scroll">
            <hr/>
            <strong>Timeline activity</strong>
            <div id="vertical-timeline" class="vertical-container dark-timeline">
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-trophy "></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Monthly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted"> April - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Kids in pool</a>. </p>
                  <span class="vertical-date small text-muted"> Week 25 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">sprinters in Gym</a>. </p>
                  <span class="vertical-date small text-muted"> Week 49 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-gift"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Weekly Contest</strong> for the video of <a href="#">Team in Golf Club</a>. </p>
                  <span class="vertical-date small text-muted"> Week 13 - 2014 </span> </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-briefcase"></i> </div>
                <div class="vertical-timeline-content">
                  <p>Won the <strong>Yearly Contest</strong> for the video of <a href="#">bear in pool</a>. </p>
                  <span class="vertical-date small text-muted">2014 </span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
  <tabset>
    <tab heading="Static title">Static content</tab>
    <tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab>
  </tabset>