<div class="animated fadeIn">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-picture-o"></i> General Settings
            </div>
            <div class="card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="file-input">Logo</label>
                                <input type="file" id="file-input" name="file-input">
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                            <label class="form-control-label" for="textarea-input">Description</label>
                           
                                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Content.."></textarea>
                            
                        </div>
                    </div>
                     </div>
                    <!--/.row-->
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>