   
   <div class="row">
    <div class="col-md-4">
       <div class="card">
               <!-- <div class="card-header">
                    Input
                    <strong>Sizes</strong>
                </div>-->
                <div class="card-block">
                    <form action="" method="post" class="form-horizontal ">
                        <div class="form-group row">
                            <label class="col-sm-12 form-control-label" for="input-small"><b>Category Name</b></label>
                            <div class="col-sm-12">
                                <input type="text" id="input-small" name="input-small" class="form-control input-sm" placeholder="Category Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 form-control-label" for="input-normal"><b>Category Description</b></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="input-normal" name="textarea-input" placeholder=" Description.." rows="9"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 form-control-label" for="file-input"><b>Category Icon</b></label>
                            <div class="col-sm-12">
                                <input id="file-input" name="file-input" type="file">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                   <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>-->
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-8">
                
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i><b> Categories</b>
                </div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                 <th>Icon</th>
                                <th>Name</th>
                                <th>Sports	</th>
                                <th>Action	</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Image1</td>
                                <td>Sports</td>
                                <td>Description	</td>
                                <td>
                                    <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i></a></span><span class="badge"><a href="#"><i class="fa fa-trash text-danger fa-1x"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Image2</td>
                                <td>Pets & Animals</td>
                                <td>Description	</td>
                                <td>
                                     <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i></a></span><span class="badge"><a href="#"><i class="fa fa-trash text-danger fa-1x"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Image3</td>
                                <td>Pets & Animals	</td>
                                <td>Description	</td>
                               <td>
                                     <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i></a></span><span class="badge"><a href="#"><i class="fa fa-trash text-danger fa-1x"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Image4</td>
                                <td>Humor</td>
                                <td>Description	</td>
                                <td>
                                     <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i></a></span><span class="badge"><a href="#"><i class="fa fa-trash text-danger fa-1x"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Image5</td>
                                <td>Fails</td>
                                <td>Description	</td>
                               <td>
                                     <span class="badge"><a href=""><i class="fa fa-pencil text-success fa-1x"></i></a></span><span class="badge"><a href="#"><i class="fa fa-trash text-danger fa-1x"></i></a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        <!--/.col-->
            </div>
         </div>