<div class="row">
     <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                 <strong> Video Settings</strong>
                </div>
                <div class="card-block">
                    <form action="" method="post">
                        <div class="form-group">
                            <label><strong> Video Length</strong></label>
                            <div class="input-group">
                                <input type="text" id="mintime" name="mintime" class="form-control col-sm-2" placeholder="Min.Time">
                                <span class="input-group-addon">Seconds
                                </span>
                                <input type="text" id="maxtime" name="maxtime" class="form-control col-sm-2" placeholder="Max.Time">
                                <span class="input-group-addon">Seconds
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><b>Video Size</b></label>
                            <div class="input-group">
                                <input type="text" class="form-control col-sm-2" id="videosize" placeholder="100">
                                <span class="input-group-addon">&nbsp;MB&nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                              <label><b>Original Video retention time</b></label>
                            <div class="input-group">
                               
                                <input type="password" id="ovrtime" name="password3" class="form-control col-sm-2" placeholder="100">
                                <span class="input-group-addon">Days
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                             <label><b>Number of Videos a user can submit in a month</b></label>
                            <div class="input-group ">
                                
                                <input type="password" id="nvmonth" name="password3" class="form-control col-sm-3" placeholder="100">
                                <!--<span class="input-group-addon">Days
                                </span>-->
                            </div>
                        </div>
                        <div class="form-group ">
                            <label><b>Comments</b></label>
                            <div class="input-group">
                                <input type="text" id="Comments" name="Comments" class="form-control col-sm-2" placeholder="Min">
                                <span class="input-group-addon">Characters
                                </span>
                                <input type="text" id="Comments" name="Comments" class="form-control col-sm-2" placeholder="Max">
                                <span class="input-group-addon">Characters
                                </span>
                            </div>
                        </div>
                         <div class="form-group">
                            <label><b>Share Interval</b></label>
                            <div class="input-group">
                                <input type="text" id="shinteravel" name="shinteravel" class="form-control col-sm-2" placeholder="Hours">
                                <span class="input-group-addon">Characters
                                </span>
                                <input type="text" id="shinteravel" name="shinteravel" class="form-control col-sm-2" placeholder="Hours">
                                <span class="input-group-addon">Characters
                                </span>
                            </div>
                        </div>
                         <div class="form-group">
                            <label><b>Comments Interval</b></label>
                            <div class="input-group">
                                <input type="text" id="commentsintr" name="comments interval" class="form-control col-sm-2" placeholder="Hours">
                                <span class="input-group-addon">&nbsp;Per User&nbsp;&nbsp;
                                </span>
                                <input type="text" id="commentsintr" name="comments interval" class="form-control col-sm-2" placeholder="Hours">
                                <span class="input-group-addon">Per Video&nbsp;&nbsp;
                                </span>
                            </div>
                        </div>
                       
                        
                        <div class="form-group form-actions ">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            <button type="submit" class="btn btn-sm btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>